<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACLSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ACLSim.Properties.Settings>
            <setting name="ProSimIP" serializeAs="String">
                <value>127.0.0.0</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AP_Disconnet_Roll_Threshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AP_Disconnet_Pitch_Threshold" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Torque_Factor_Air_Speed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Torque_Pitch_Low" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Torque_Pitch_High" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="Torque_Pitch_Max" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Torque_Roll_Low" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="Torque_Roll_High" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="TrimFactor_Aileron" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Torque_Roll_Max" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Position_Pitch_HYD_OFF_Max" serializeAs="String">
                <value>-2000</value>
            </setting>
            <setting name="AP_Position_Roll_Factor" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="RS485COM_Port" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Torque_Yaw_High" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Torque_Yaw_Low" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Position_Yaw_HYD_OFF_Max" serializeAs="String">
                <value>-1000</value>
            </setting>
            <setting name="TrimFactor_Rudder" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Enable_Yaw_ACL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Driver_Yaw_ID" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Driver_Pitch_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Driver_Roll_ID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Enable_Pitch_ACL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enable_Roll_ACL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Centering_Speed_Pitch" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Dampening_Pitch" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="Centering_Speed_Roll" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Dampening_Roll" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Centering_Speed_Yaw" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Dampening_Yaw" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Direction_Axis_Pitch" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Direction_Axis_Roll" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Direction_Axis_Yaw" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Centered_Position_Pitch" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Centered_Position_Roll" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Centered_Position_Yaw" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Auto_Center_On_Start" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Center_Calibration_Speed_Pitch" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Center_Calibration_Speed_Roll" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Center_Calibration_Speed_Yaw" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Torque_Pitch_Axis_Factor" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="AP_Position_Pitch_Factor" serializeAs="String">
                <value>1000</value>
            </setting>
        </ACLSim.Properties.Settings>
    </userSettings>
</configuration>