<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACLSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ACLSim.Properties.Settings>
            <setting name="ProSimIP" serializeAs="String">
                <value>127.0.0.0</value>
            </setting>
            <setting name="Position_Pitch_Max" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Position_Roll_Max" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APDisconnetRollThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="APDisconnetPitchThreshold" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Position_Pitch_Min" serializeAs="String">
                <value>-2000</value>
            </setting>
            <setting name="Position_Roll_Min" serializeAs="String">
                <value>-2000</value>
            </setting>
            <setting name="TorqueFactor_AirSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TorqueFactor_Thrust" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="TorqueFactor_VerticalSpeed" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Torque_Pitch_Min" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Torque_Pitch_Low" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Torque_Pitch_High" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="Torque_Pitch_Max" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Torque_Roll_Min" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Torque_Roll_Low" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="Torque_Roll_High" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="TrimFactor_Elevator" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TrimFactor_Aileron" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Torque_Roll_Max" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Position_Pitch_HYD_OFF_Max" serializeAs="String">
                <value>-2000</value>
            </setting>
            <setting name="APPosition_Roll_Factor" serializeAs="String">
                <value>700</value>
            </setting>
        </ACLSim.Properties.Settings>
    </userSettings>
</configuration>