<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoadForceSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LoadForceSim.Properties.Settings>
            <setting name="ProSimIP" serializeAs="String">
                <value>127.0.0.0</value>
            </setting>
            <setting name="MaxPitchPos" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="MaxRollPos" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APDisconnetRollThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="APDisconnetPitchThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MinPitchPos" serializeAs="String">
                <value>-2000</value>
            </setting>
            <setting name="MinRollPos" serializeAs="String">
                <value>-2000</value>
            </setting>
        </LoadForceSim.Properties.Settings>
    </userSettings>
</configuration>